<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-touch.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script type='text/javascript' src="js/truncate.filter.js"></script>
    <script type='text/javascript' src="js/search.service.js"></script>
    <script type='text/javascript' src="js/search.controller.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="styles.css">
    
  </head>
  <body>


  <div id="app" ng-app="jobfinder" ng-controller="SearchController">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Where will you take your career?</h1>

          <div class="text-center">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
              <button id="single-button" type="button" class="btn btn-primary btn-lg dropdown-toggle" uib-dropdown-toggle="dropdown-menu" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                {{selectedIndustry}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="#" ng-click="change(industry)" ng-repeat="industry in industries">{{industry}}</a></li>
              </ul>
            </div>
          </div>

          <div id="results" class="container">
            <div ng-repeat="result in searchservice.searchresults.dataModelList" class="row">

              <a class="result" data-toggle="collapse" href="#result{{$index}}" aria-expanded="false">
                <div class="col-sm-2 result__left" ng-class="{'hot-match-start': $index == 0 || $index == 1, 'warm-match-start': $index == 1 || $index == 2, 'cold-match-start': $index > 2}">

                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                    <path fill="#e0dcd4" d="M10,0.4c-5.303,0-9.601,4.298-9.601,9.6c0,5.303,4.298,9.601,9.601,9.601c5.301,0,9.6-4.298,9.6-9.601
                      C19.6,4.698,15.301,0.4,10,0.4z M9.999,17.6c-4.197,0-7.6-3.402-7.6-7.6s3.402-7.6,7.6-7.6S17.6,5.803,17.6,10
                      S14.196,17.6,9.999,17.6z M10,8H6v4h4v2.5l4.5-4.5L10,5.5V8z"/>
                  </svg>

                </div>

                <div class="col-sm-10 result__right" ng-class="{'hot-match-end': $index == 0 || $index == 1, 'warm-match-end': $index == 1 || $index == 2, 'cold-match-end': $index > 2}">
                   <div class="result__name h4">
                     {{result.country.name}}
                  </div>
                </div>
              </a>

              <div id="result{{$index}}" class="collapse row container {'hot-match-start': $index == 0 || $index == 1, 'warm-match-start': $index == 1 || $index == 2, 'cold-match-start': $index > 2}">
                <div class="resultinfo">
                  <p><strong>Population:</strong> {{result.country.population}}. <strong>Language:</strong> {{result.country.officialLanguage}}</p>
                  <p><strong>Percentage of unreached people:</strong> {{result.country.percentUnreached}}. <strong>Percentage Literate:</strong> {{result.country.percentLiterate}}%. <strong>Primary religion:</strong> {{result.country.primaryReligion}}</p>

                  <p class="lead">Recent jobs</p>
                  
                  <div class="container-fluid">

                      <div class="job-card__inner">
                        <div class="col-sm-4 job-card" ng-repeat="job in result.careerData.jobs">
                          <a href="{{job.jobURL}}" target="_blank">
                            <strong>{{job.title}}</strong>
                            <em>{{job.salary}}</em>
                            <p>{{job.site}}</p>
                            <p>{{job.description | characters: 300}}</p>
                          </a>
                        </div>
                      </div>

                  </div>
                  
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>		
    </div>	

  </div>
    

  </body>
</html>